@import url('https://fonts.googleapis.com/css2?family=Inter:slnt,wght@-10..0,100..900&display=swap');


*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  transition: .3s;
  scroll-behavior: smooth;
}

.App{
  min-height: 100vh;
  max-width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.text-left{text-align: left;}
.text-center{text-align: center;}
.text-right{text-align: right;}

.text-title{text-transform: capitalize;}
.text-upper{text-transform: uppercase;}

.regular-bold{font-weight: 400;}
.medium-bold{font-weight: 500;}
.semi-bold{font-weight: 600;}
.bold{font-weight: 700;}
.extra-bold{font-weight: 900;}

.cursor-pointer{cursor: pointer;}

.flex{display: flex;}
.flex-d-col{display: flex; flex-direction: column;}
.flex-a-cen{display: flex; align-items: center;}
.flex-j-cen{display: flex; justify-content: center;}
.flex-j-spbet{display: flex; justify-content: space-between;}
.flex-a-cen-j-cen{display: flex; align-items: center; justify-content: center;}
.flex-a-cen-j-spbet{display: flex; align-items: center; justify-content: space-between;}

.font-12{font-size: 0.75rem;}
.font-14{font-size: 0.875rem;}
.font-16{font-size: 1rem;}
.font-18{font-size: 1.125rem}
.font-20{font-size: 1.25rem}
.font-22{font-size: 1.375rem}
.font-24{font-size: 1.5rem}
.font-26{font-size: 1.625rem}
.font-28{font-size: 1.75rem}
.font-30{font-size: 1.875rem}
.font-32{font-size: 2rem;}
.font-36{font-size: 2.25rem}
.font-40{font-size: 2.5rem;}
.font-48{font-size: 3rem;}
.font-56{font-size: 3.5rem;}
.font-60{font-size: 3.75rem;}
.font-72{font-size: 4.5rem;}
.font-96{font-size: 6rem;}
.font-100{font-size: 6.25rem; line-height: 7.125rem;}